<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html>
  <head>
  
  </head>
<body>

 <footer th:fragment="footer" class="bg-info-dark">
 
 	  <div class="container">
	    <p class="text-white text-center text-sm-md"><a class="text-white" href="http://www.terrabis.com"><strong>terrabis</strong></a> &copy; 2016 
	    |  <a href="#" class="text-gray"><span class="text-sm-md">about us</span></a>
	    |  <a href="#" class="text-gray"><span class="text-sm-md">terms of use</span></a>
	    |  <a href="#" class="text-gray"><span class="text-sm-md">privacy policy</span></a>
	    |  <a th:href="@{'/static/contact/index'}" class="text-gray"><span class="text-sm-md">contact us</span></a>
	    
	    </p> 
	  </div>

      </footer>
      
      
      
      



<!-- 	<nav class="navbar navbar-inverse navbar-fixed-bottom" th:fragment="footer">
	  <div class="container">
	    <p class="navbar-text"><a href="http://www.frameworkonly.com">terrabis</a> &copy; 2015 | </p> 
	  </div>
	</nav>
 --></body>
</html>


