 <header class="topnavbar-wrapper" th:fragment="header-empty">
         <!-- START Top Navbar-->
         <nav role="navigation" class="navbar topnavbar">
            <!-- START navbar header-->
            <div class="navbar-header">
               <a th:href="@{${isindex=='false' ? '/' : '/video/map/normal/_'}}" class="navbar-brand">
                  <div class="brand-logo mt-sm">
                      <!-- <img src="/images/logo.png" alt="App Logo" class="img-responsive"> -->
                 	<span class="text-white fontlabel text-bold mt-lg">T</span>
                 	<span class="text-white fontlabel text-bold mt-lg">E</span>
                 	<span class="text-info-dark fontlabel text-bold mt-lg mirror">R</span>
                 	<span class="text-info-dark fontlabel text-bold mt-lg">R</span>
                 	<span class="text-white fontlabel text-bold mt-lg">A</span>
                 	<span class="text-white fontlabel text-bold mt-lg">B</span>
                 	<span class="text-white fontlabel text-bold mt-lg">I</span>
                 	<span class="text-white fontlabel text-bold mt-lg">S</span>
                  </div>
                  <div class="brand-logo-collapsed">
                      <img src="/images/logo.png" alt="App Logo" class="img-responsive">
                     <!-- <span class="text-gray font12" th:text="''+${execInfo.templateName}">channels</span> -->
                  </div>
               </a>
            </div>
            <div class="nav-wrapper">


               
               
       
            </div>

         </nav>
         <!-- END Top Navbar-->
      </header>
     