<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html layout:decorator="layout">
  <head>
    <title>Terrabis -Authentication</title>
    
 
  </head>
  <body>
        <!-- Main section-->
      <section  layout:fragment="content">

         <div class="content-wrapper">
            <div class="content-heading">
                     <div class="row">
                             <div class="col-md-12 col-xs-12 col-sm-12">
                           <span class="h2 text-bold text-gray text-left" th:if="${EXCEPTION.equals('sessionexpirederror')}">Session Expired</span><br/>
                           <span class="h2 text-bold text-gray text-left" th:if="${EXCEPTION.equals('socialconnecterror')}">Facebook Connect Error</span><br/>
                           </div>  
                    </div>	
            </div>

              <div class="row mb-lg mt-lg">
                          <div class="col-md-2 col-xs-12 col-sm-12">
                            <span class="fa fa-smile-o fa-12x text-bold text-left"></span>
                        </div>  
                        
                          <div class="col-md-10 col-xs-12 col-sm-12"><br/><br/>
                            <span class="h2 text-gray-more text-left" th:if="${EXCEPTION.equals('socialconnecterror')}">There was a problem with your facebook account. To authenticate click the 'Sign In' button and use your 'Terrabis' credentials.</span>
                        </div>  
                 </div>	




<!--               <div class="row mb-lg mt-lg">
                        
                     	<div class="col-md-12 col-xs-12 col-sm-12">
	                          <div th:replace="/fragments/video-grid-view :: box-video-column(vid=${videoDTO})"></div>
                        </div>  
                        
                          <div class="col-md-12 col-xs-12 col-sm-12"><br/><br/>
                            <span class="h4 text-gray-more text-left">To verify that you are the owner please put the tag <span class="text-bold h2">'terrabisownershipclaim'</span> on your video, right after clicking on 'FILE CLAIM' button</span>
                        </div>  
                        
                        
                        
                 </div>	 -->



 <div class="row mt-lg mb-lg">
               <div class="col-md-5 col-xs-12 col-sm-12">
               </div>
  </div>             
  
     

   		</div>
   		
   		
   		
   		
   		

    <!-- =============== PAGE VENDOR SCRIPTS ===============-->
    <script src="../static/vendor/jquery/dist/jquery.js" th:src="@{/vendor/jquery/dist/jquery.js}"></script> 
	<script src="../static/js/video-grid-html-view.js" th:src="@{/js/video-grid-html-view.js}"> </script>     


      </section>



  </body>
</html>  	  