<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html layout:decorator="layout">
  <head>
    <title>Terrabis - Notifications</title>
    
 
  </head>
  <body>
        <!-- Main section-->
      <section  layout:fragment="content">

         <div class="content-wrapper">
            <div class="content-heading">
                     <div class="row">
                             <div class="col-md-12 col-xs-12 col-sm-12">
                           <span class="h2 text-bold text-gray-more text-left">YOUR NOTIFICATIONS</span><br/>
                              <a th:href="@{'/user/settings/index?view=notifications'}"><span class="h4 text-gray-more text-right">notification settings</span></a><br/>
                           </div>  
                    </div>	
            </div>





      	<!-- DETAIL VIEW ONLY ONE LIST PARTITION -->
      	 <div class="row"><div class="col-md-12 col-xs-12 col-sm-12" id="notificationsGrid">	 
      	 <div th:if="${notificationsList.size()>0}">
		<div ID="ITERATION"   th:classappend="${notif.status==-1 ? 'bg-gray' : '-'}" class="row" th:each="notif, iterStat : ${notificationsList}">
		
		
		    				<div class="col-lg-2 col-md-2 col-xs-12 col-sm-12">
		                              <span  th:if="${notif.activity=='VIDEOREVIEW'}" class="fa fa-comment-o fa-4x text-info"></span>
		                              <span  th:if="${notif.activity=='VIDEOLIKE'}" class="fa fa-thumbs-up fa-4x text-info"></span>
		                              <span  th:if="${notif.activity=='VIDEOSHARE'}" class="fa fa-facebook-official fa-4x text-info"></span>
		                              <span  th:if="${notif.activity=='COLLECTIONADDED'}" class="fa fa-film fa-4x text-info"></span>
		                              <span  th:if="${notif.activity=='VIDEORATE'}" class="fa fa-star fa-4x text-info"></span>
		                              <span  th:if="${notif.activity=='NEWFOLLOWER'}" class="fa fa-user fa-4x text-info"></span>
						                              
						                              	 <div class="pull-left mt-lg ml-sm">	
							 							<a th:href="@{'/user-' + ${notif.actionuser.UUID}}">
							 							<span th:if="${notif.actionuser.avatar==null}" class="fa fa-smile-o fa-9x text-gray-dark"></span>
							                            <img th:if="${notif.actionuser.avatar!=null}" th:src="*{'data:image/'+notif.actionuser.avatar.extension+';base64,'+notif.actionuser.avatar.imagebase64}" class="img-thumbnail img-circle thumb128" />
							                            </a>			                               		
						                              </div>
						                              
						                              
		                   		<div class="row" id="subpanelblockC">
		                             <div class="col-md-12 col-sm-12 col-xs-12">
		                              <p class="h4 text-inverse">
										  <a th:href="@{'/user-'+${notif.actionuser.UUID}+'/'}"><span th:text="${notif.actionuser.shortdesc}">email</span> </a><br/> 
										  <span class="time_badge text-bold text-inverse text-sm-sm"> <span class="text-bold text-inverse text-sm-sm"  th:text="${' '+ notif.smartTime+' ago'}">1 week ago </span>  </span>  
		                              </p>
		                           </div>
		                    </div>  						                              
						                              
							  			

    				</div>		

		        	 <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12 h4"> <span  th:if="${notif.status==-1}" class="bg-info-dark text-white text-bold text-sm">NEW!</span><br/>
<!-- 		                               <a th:href="@{'/user-'+${notif.actionuser.UUID}+'/'}"><span  class="m0 text-bold" th:text="${notif.actionuser.shortdesc}">email</span> </a>  -->
		                              <span class="h4 text-inverse" th:if="${notif.activity=='VIDEOREVIEW'}">commented on your video ' <a th:href="@{'/video/' + ${notif.video.UUID}}"><span class="m0 text-bold" th:text="${notif.video.title}"></span></a>'</span>
		                              <span class="h4  text-inverse" th:if="${notif.activity=='VIDEOLIKE'}">liked your video ' <a th:href="@{'/video/' + ${notif.video.UUID}}"><span class="m0 text-bold" th:text="${notif.video.title}"></span></a>'</span>
		                              <span class="h4  text-inverse" th:if="${notif.activity=='VIDEOSHARE'}">shared your video ' <a th:href="@{'/video/' + ${notif.video.UUID}}"><span class="m0 text-bold" th:text="${notif.video.title}"></span></a>'</span>
		                              <span class="h4 text-inverse" th:if="${notif.activity=='VIDEORATE'}">rated your video ' <a th:href="@{'/video/' + ${notif.video.UUID}}"><span class="m0 text-bold" th:text="${notif.video.title}"></span></a>' as '<span class="m0 text-bold text-yellow-dark" th:text="${notif.rating.descr}"></span>'</span>
		                              <span class="h4  text-inverse" th:if="${notif.activity=='COLLECTIONADDED'}">added your video ' <a th:href="@{'/video/' + ${notif.video.UUID}}"><span class="m0 text-bold" th:text="${notif.video.title}"></span></a>' to one of his collections</span>
		                              <span class="h4  text-inverse" th:if="${notif.activity=='NEWFOLLOWER'}">started following you!</span>


		                              
			       </div>
			       
				    <div th:if="${notif.activity!='NEWFOLLOWER'}" class="col-lg-3 col-md-3 col-xs-12 col-sm-12 text-left" th:with="vid=${notif.video}">
				    

       	                			<div th:attr="data-likescount=${{vid.likescount}},data-uuid=${{vid.UUID}}, data-playscount=${{vid.playscount}}, data-ratingssum=${{vid.ratingssum}},data-title=${{vid.title}},data-description=${{vid.description}}, data-id=${{vid.id}}, data-videourl=${{vid.videourl}}" class="panel widget videopanel" style="background: none; width: 100%;">
         							<div class="text-center bg-center" id="subpanelblockA">
                        			<div class="row">
                        			
                        			
                        			
                           				<div class="col-xs-12 col-md-12 col-sm-12">  
                           				
                           				
                           				 <div th:attr="id=${'video-overlay-loadingvideo_'+{vid.id}}" class="vidoverlay_loadingvideo hidden">
										<div class="row row-table" th:replace="/fragments/video-grid-view :: video-overlay-loadingvideo(video=${vid})"></div>
										</div>   
                           				                      				
										<div th:attr="id=${'vidoverlay_action_'+{vid.id}}" class="vidoverlay_action hold">
										<div class="row row-table" th:replace="/fragments/video-grid-view :: video-overlay-action(video=${vid})"></div>
										</div>                        				
        								<div th:attr="data-id=${{vid.id}}" class="videoimage">                   				
										<img th:if="${(vid.link!=null) and (vid.youtube)}" class="box-border-info" width="100%" height="220" th:src="${vid.thumburl}"/> 
									    <img th:if="${(vid.link!=null) and (vid.vimeo)}" class="box-border-info" width="100%" height="220"  th:attr="src=${vid.thumburl}"/>
									    </div>
		                  			 </div>
                        		</div>
                     		</div>

                             <div class="row mt-sm">
		                             <div class="col-md-10 col-xs-12 col-sm-12">
		                              <!-- <div class="text-sm m0 text-bold text-inverse" th:text="${vid.title}"></div> -->
		                           </div>
									<div class="col-md-2 col-xs-12 col-sm-12">
		                             <div class="pull-right">
		                               			<span class="bg-info-dark text-white text-bold text-sm" title="duration" th:text="${vid.durationtxt}">15:45</span>
									</div>				                           
		                    </div>
		                    </div>
		                    

		                    
		                    
		 					<div class="row" id="subpanelblockD">
		                             <div class="col-md-12 col-xs-12 col-sm-12 text-sm>
            											<div class="row text-info" th:replace="/fragments/video-grid-view ::weather-and-likebtn-thumb(video=${vid},showlike='true')">
                     		                           </div>
                           	</div>
		                           </div>	

				    
				    
				    
				    
<!-- 				    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" th:with="vid=${notif.video}"><a th:href="@{'/video/' + ${notif.video.UUID}}">
 	                   			<div class="w-XXS" style="background: none;">
 	     							<div class="text-center bg-center" id="subpanelblockA">
                        			<div class="row">
                           				<div class="col-xs-12 col-md-12 col-sm-12">    
										
										<div th:attr="data-id=${{vid.id}}" class="">
										 	<img th:if="${(vid.link!=null) and (vid.youtube)}" class="w-XXXS h-XXXS box-border-info"  th:src="${vid.thumburl}"/> 
									     	<img th:if="${(vid.link!=null) and (vid.vimeo)}" class="w-XXXS h-XXXS box-border-info"  th:attr="src=${vid.thumburl}"/>
										</div>										
                          			 </div>
                        		</div>
                        		
            											<div class="row" th:replace="/fragments/video-grid-view ::weather-and-likebtn-thumb(video=${vid},showlike='true')">
                     		                           </div>                        		
                        		
                     			</div>
                     			
                     			


                     			

		              </div>
              
		             </a> 
        	 </div>  -->


		              </div>
<!-- 		               <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 text-left"><br/>
		              <span  th:if="${notif.status==-1}" class="bg-info-dark text-white text-bold h4">NEW!</span>
		              </div>	 -->		       
			       
		 	 </div>
		 	 </div>
		</div>
		</div>
		<!-- DETAIL VIEW -->













   		</div>
   		
   		
   		
   		
   		

    <!-- =============== PAGE VENDOR SCRIPTS ===============-->
    <script src="../static/vendor/jquery/dist/jquery.js" th:src="@{/vendor/jquery/dist/jquery.js}"></script> 
	<script src="../static/js/video-grid-html-view.js" th:src="@{/js/video-grid-html-view.js}"> </script>     


      </section>



  </body>
</html>  	  