<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html layout:decorator="layout-statistics-video">
  <head>
    <title>Terrabis - Statistics:Web:Web Traffic Dashboard</title>
    
 
  </head>
  <body>
        <!-- Main section-->
      <section  layout:fragment="content">



         <div class="content-wrapper">
            <div class="content-heading">
					<span class="text-gray h3">Statistics:Web:Web Traffic Dashboard</span>            
            </div>
  
 <!--  
         		       <div class="row">  
	              <div class="col-md-12 col-sm-12">
			             <div id="barChartContainer" class="min-height-lg">
                    </div>
			          
	              </div>    
		       </div> 	
   -->
  
  

  
  
         		       <div class="row mt-lg">  
         		                        <div class="col-md-4 col-sm-12">
         		                        
				          		                          		<div class="row">
				         		                          		  <div class="col-md-12 col-sm-12">
				         		                          		  <div class="text-center">
				    			             							<span class="text-gray"  style="font-size: 48px;" th:text="${'Total Visits'}"></span><br/>    
						         		        						<span class="text-white" style="font-size: 32px;" th:text="${'150000'}"></span>
						         		        						<hr/>
				    											  </div>			
				    											  </div>
				                     							 </div> 

					         		                          		<div class="row">
						         		                          		  <div class="col-md-12 col-sm-12">
							                     							 <div id="gaugeNewVsTotalVisits"></div>
						                     							 </div>
						                     							 </div>
						         		                          		<div class="row">
						         		                          		  <div class="col-md-12 col-sm-12">
						    			             							<span class="text-white text-md">34% Percent</span>    
 								         		        						<span class="text-sm-sm text-muted mt-lg"><br/>Percentange of New Visits / Total Visits</span>
						    											  </div>		
						                     							 </div>         		                        

                    					</div>
                    								          
							              <div class="col-md-8 col-sm-12">
									             <div id="lineChartVisitsLast90Days">
						                    </div>
									      </div>    
		       			</div> 
		       			
		       			
		       		       		  <div class="row mt-lg">  
         		                        <div class="col-md-4 col-sm-12">
                    					</div>
                    					
							              <div class="col-md-8 col-sm-12">
									             <div id="barChartPageActivity">
						                    </div>
									      </div>                        					
                    					
	              					</div>		       			
		       			
		       				
	
		
 <!--             		       <div class="row mt-lg">  
   					              <div class="col-md-12 col-sm-12">
					             <div id="lineChartRegistrationsVsVideosPerDay">
		                    </div>
					      </div>                        					
           				</div>    
		       -->
		      
		       		       
		   
		       		       
		       		       
		       		       
		       
		       
		       			            

   		</div>

    <!-- =============== PAGE VENDOR SCRIPTS ===============-->
     <script src="http://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/globalize/0.1.1/globalize.min.js"></script>
    <script src="../static/vendor/jquery/dist/jquery.js" th:src="@{/vendor/jquery/dist/jquery.js}"></script> 
	<script src="../static/vendor/dx-chart/dx.chartjs.js" th:src="@{/vendor/dx-chart/dx.chartjs.debug.js}"></script>     
	<script src="../static/js/dx-chart-assistant.js" th:src="@{/js/dx-chart-assistant.js}"></script>     
	<script src="../static/js/statistics-video-view.js" th:src="@{/js/statistics-user-view.js}"> </script> 


	<script th:inline="javascript">
	/*<![CDATA[*/
	           
      $(document).ready(function() {

    	
    	var lineChartVisitsLast30DaysData = [{
  		    column1: "10|Oct",
  		    columnvalue: 20
  		}, {
  			column1: "11|Okt",
  		    columnvalue: 15
  		}, {
  			column1: "12|Okt",
  		    columnvalue: 36
  		}, {
  			column1: "13|Okt",
  		    columnvalue: 40
  		}, {
  			column1: "10|Okt",
  		    columnvalue: 20
  		}, {
  			column1: "01|Noe",
  		    columnvalue: 12
  		}, {
  			column1: "03|Noe",
  		    columnvalue: 56
  		}];
  	  
    	
    		var barChartPageActivityData = 
    		[{column1:"Search",columnvalue:6},{column1:"Play",columnvalue:10},{column1:"Other",columnvalue:27}];
    
    		
    		
    		
  		  var barChartOptionsPageActivity= barChartOptions(barChartPageActivityData,'Site Activity','Actions',150);
		  $("#barChartPageActivity").dxChart(barChartOptionsPageActivity);
    	
    	
    	

		  var chartOptions = lineChartOptions(lineChartVisitsLast30DaysData,' Visits Last 90 Days Line Graph','Calendar',100);
		  $("#lineChartVisitsLast90Days").dxChart(chartOptions);
    	
		  

		  
		  var newVisitsPercentage = 27;
		  var gaugeOptions = percentageGaugeOptions(newVisitsPercentage,25, 'New Visits Percentage',100);  	  
 	      $("#gaugeNewVsTotalVisits").dxCircularGauge(gaugeOptions);


 	      
 	      
 	      
		  
		  
    	  
/*     	   
    	   
    	   
    	   
		  var barChartOptionsRegPerMonth = barChartOptions(barChartRegPerMonthData,'Registrations Per Month','Month Bar',50);
		  $("#barChartRegistrationsPerMonth").dxChart(barChartOptionsRegPerMonth);
    	  
		  
		  var lineChartOptionsRegistrationsVsVideosPerDay = multiLineChartOptions(lineChartRegistrationsVsVideosPerDayData,'Registrations Vs Videos Uploaded Line Graph',['Registrations','Videos'], 50);
		  $("#lineChartRegistrationsVsVideosPerDay").dxChart(lineChartOptionsRegistrationsVsVideosPerDay); */
    	  
		  
		  
		  

		});    	  
    	  
    	  
	
  	/*]]>*/
  	</script> 

      </section>



  </body>
</html>  

