<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html layout:decorator="layout-empty">
  <head>
    <title>Support - Recover Password</title>
    
 
  </head>
  <body>
        <!-- Main section-->
      <section  layout:fragment="content">

         <div class="content-wrapper" style="height:1000px;">
            <div class="content-heading">
                     <div class="row">
                             <div class="col-md-12 col-xs-12 col-sm-12">
	                              <span class="h2 text-bold text-gray-more text-left">YOUR PASSWORD HAS BEEN RESET</span><br/>
	                              
                           </div>  
                    </div>	
            </div>


              <div class="row mb-lg mt-lg">
                          <div class="col-md-2 col-xs-12 col-sm-12">
                            <span class="fa fa-smile-o fa-12x text-bold text-left"></span>
                        </div>  
                        
                          <div class="col-md-10 col-xs-12 col-sm-12"><br/><br/>
                            <span class="h2 text-gray-more text-left">An email with a new password is being sent. Please check your inbox in a few minutes.</span>
                        </div>  
                        
                      
                        
                 </div>	


 


     

   		</div>
   		
   		
   		
   		
   		

    <!-- =============== PAGE VENDOR SCRIPTS ===============-->
    <script src="../static/vendor/jquery/dist/jquery.js" th:src="@{/vendor/jquery/dist/jquery.js}"></script> 
   


      </section>



  </body>
</html>  	  