<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html layout:decorator="layout-h">
  <head>
    <title>Terrabis - Trending Weekly</title>
    
 
  </head>
  <body>
        <!-- Main section-->
      <section  layout:fragment="content">

     
         <div class="content-wrapper">

           <div class="content-heading visible-lg visible-md">
   				   <span class="text-gray fa fa-line-chart fa-2x">&nbsp;</span><span class="text-gray text-bold h1">Trending  Weekly</span>           
            </div>

           <div class="content-heading visible-sm visible-xs">
   				   <span class="text-gray fa fa-line-chart">&nbsp;</span><span class="text-gray text-bold h3">Trending Weekly</span>           
            </div>


<!--           <div class="row mb-lg">

           <div class="col-md-12 col-sm-12 pull-right">
          
           <div th:replace="/fragments/adverts :: video-catalog-view"></div>
          
			</div>											          
														          
            </div> -->
 
 
 
 



   		       <div class="row mb-sm mt-md">  
	              <div class="col-md-12 col-sm-12">
	              
						         <div class="pull-right paginator">
						         </div>           
	              </div>    
		       </div> 


<!--    		       <div class="row">  
	              <div class="col-md-12 col-sm-12">
			              <div class="content-control">
						                    pagignator
						                    <ul class="breadcrumb paginator pull-right">
						                    </ul>paginator
			               </div>/content-control
	              </div>    
		       </div>  -->
		            


 		<!-- ===================== RESULTS ============================= -->
     
        <!-- BOX VIEW -->
        <div class="row" th:if="${PERS.item('GRIDSTYLE-'+execInfo.templateName) == 'BOXUSR'}"><div class="col-md-12 col-xs-12 col-sm-12">
      		<div th:replace="/fragments/video-grid-view :: boxusr(videoListDTO=${videoListDTO})"></div>
      	</div></div>	
      	<!-- BOX VIEW -->


	       <div class="row mb-sm mt-lg">  
           <div class="col-md-12 col-sm-12">
					         <div class="pull-right paginator">
					         </div>           
           </div>    
	       </div>       	
      	
      	

		<!-- LOAD DATA  -->
<!--        <div class="row">
        	<div class="col-md-12 col-xs-12 col-sm-12">
        	 <div class="col-md-12 col-xs-12 col-sm-12 load-more-data"></div>
        	</div>
        </div>	-->

		<!-- LOAD MORE  -->
<!--       <div class="row">
        	<div class="col-md-12 col-xs-12 col-sm-12 text-center">
        	 <span class="h3 text-gray-more text-bold load-more-video cursor-pointer" th:if="${CATALOGPAGINATOR.currentPage+1!=CATALOGPAGINATOR.totalPages}">
        	 LOAD MORE...
        	 </span> 
        	</div>
        </div>	-->


        <div class="row">
        	<div class="col-md-12 col-xs-12 col-sm-12 text-center">
        	 <br/><br/><br/><br/><br/><br/><br/><br/>
        	 </div>
        </div>	

   		</div>







    <!-- =============== PAGE VENDOR SCRIPTS ===============-->
    <script src="../static/vendor/jquery/dist/jquery.js" th:src="@{/vendor/jquery/dist/jquery.js}"></script> 
	<script src="../static/js/video-grid-html-view.js" th:src="@{/js/video-grid-html-view.js}"> </script>    
	<script src="../static/js/grid-view-renderer.js" th:src="@{/js/grid-view-renderer.js}"> </script> 

	 

	<script th:inline="javascript">
	/*<![CDATA[*/
	           
	           
      $(document).ready(function() {
    	  
    	  

    	  
    		//PAGE SPECIFIC GRID VIEW STYLE

	  		
	  		
	  		
	  		/***********************************************************************SCROLL PAGINATOR SETUP ********************************************************************/
	  		//terrabisApp.paginatorLastPage =  [[${CATALOGPAGINATOR.currentPage+1==CATALOGPAGINATOR.totalPages}]];


			
			//VISIBLE NUMBERS PAGINATOR    		
    		createHtml_PaginatorWithPageNumbers([[${CATALOGPAGINATOR}]]);
			//createHtml_EmptyPaginator();
	  		
	  		
	  		
			//SCROLL TO BOTTOM LOAD MORE	  		
	  		/*$(window).scroll(function() {
	  		    if($(window).scrollTop() == $(document).height() - $(window).height()) {
	  		    	if(!terrabisApp.paginatorLastPage) {
	  					loadMoreVideo(terrabisApp.paginatorVideoCatalogURI);
	  		    	}
	  		    }
	  		});*/
	  		/***********************************************************************SCROLL PAGINATOR SETUP ********************************************************************/
	  		
	  		
	  		
      });

	
  	/*]]>*/
  	</script> 

      </section>



  </body>
</html>  	  