<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html layout:decorator="layout">
  <head>
    <title>terrabis:user-error</title>
  </head>
  <body>
        <!-- Main section-->
      <section  layout:fragment="content">
         <!-- Page content-->
      <section>
      

      
               <!-- Page content-->
         <div class="content-wrapper">
            <div class="content-heading">
                    <div class="row">
                             <div class="col-xs-6">
                              <span class="fa fa-exclamation-circle fa-2x text-bold text-left"></span>
                              <span class="h2 text-bold text-left "><span class="text-inverse-light">#Sign up</span>/_</span>
                           </div>  
                    </div>	                 
            </div>


					  <!-- REGISTER PANEL  -->	
     				<div class="row">
		               <div class="col-md-12 col-xs-12 col-sm-12">					  
				      <div  class="block-center mt-xl wd-xl">
				         <!-- START panel-->
				            <div class="panel bg-gray-dark panel-round text-white ml-lg">
			
				            <div sec:authorize="isAnonymous()" class="panel-body">
				               <p class="text-center text-bold pv">SIGNUP TO GET INSTANT ACCESS</p>
				               <form role="form" th:action="@{/user/registration-submit}" th:object="${registerFrm}" method="post"  class="mb-lg">
				                                    <input type="hidden" th:field="*{active}" value="false">
				 		               <ul>
						                <li th:if="${iterStat.index <= 1 }" th:each="e,iterStat : ${#fields.detailedErrors()}" th:class="${e.global}? globalerr : fielderr">
						                    <span  th:text="${e.global}? '*' : ${e.fieldName}">The field name</span> |
						                    <span  th:text="${e.message}">The error message</span>
						                </li>
						            	</ul>
				               
				 	<!-- 	            <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
									    <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>    
									</div> -->
				 		            
				                  <div class="form-group has-feedback">
				                     <label for="signupInputUsername" class="text-white">Username</label>
				                     <input type="text" placeholder="Enter a nickname" autocomplete="off" class="form-control"   th:field="*{username}">
				                     <span class="fa fa-envelope form-control-feedback text-muted"></span>
				                  </div>

				                  <div class="form-group has-feedback">
				                     <label for="signupInputEmail1" class="text-white">Email address</label>
				                     <input type="email" placeholder="Enter email" autocomplete="off" class="form-control"   th:field="*{email}">
				                     <span class="fa fa-envelope form-control-feedback text-muted"></span>
				                  </div>
				                  <div class="form-group has-feedback">
				                     <label for="signupInputPassword1"  class="text-white">Password</label>
				                     <input id="signupInputPassword1" type="password" placeholder="Password" autocomplete="off" class="form-control" th:field="*{password}">
				                     <span class="fa fa-lock form-control-feedback text-muted"></span>
				                  </div>
				                  <div class="form-group has-feedback">
				                     <label for="signupInputRePassword1"  class="text-white">Retype Password</label>
				                     <input id="signupInputRePassword1" type="password" placeholder="Retype Password" autocomplete="off" th:field="*{passwordConfirm}" class="form-control">
				                     <span class="fa fa-lock form-control-feedback text-muted"></span>
				                  </div>
				                  <div class="clearfix">
				                     <div class="checkbox c-checkbox pull-left mt0">
				                        <label>
				                           <input type="checkbox" value=""  name="agreed">
				                           <span class="fa fa-check"></span>I agree with the <a href="#" class="text-white">terms</a>
				                        </label>
				                     </div>
				                  </div>
				                  <button type="submit" class="btn btn-block btn-primary mt-lg">Create account</button>
				               </form>
				               <p class="pt-lg text-center">Have an account?</p><a id="loginlink" href="/login" class="btn btn-block btn-default">Signup</a>
				            </div>
				         </div>
				       </div>
				       </div>
				       </div>  
		
		
		



            
            
            </div>
            
            
            
  
          <!-- END CONTENT WRAPPER  --> 

      </section>



      </section>
  </body>
</html>  	  