<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html layout:decorator="layout">
  <head>
    <title>Terrabis - User Settings Privacy</title>
  </head>
  <body>
        <!-- Main section-->
      <section  layout:fragment="content">
         <!-- Page content-->
      <section>
      
               <!-- Page content-->
         <div class="content-wrapper">
         
          <div th:replace="/fragments/user-settings :: user-settings-heading(settingsselected='privacy')"></div>
          <div th:replace="/fragments/user-settings :: user-settings-navigation(settingsselected='privacy')"></div>
         

            
          </div>  
          <!-- END CONTENT WRAPPER  --> 

      </section>



      </section>
  </body>
</html>  	  