<!DOCTYPE html>
<html layout:decorator="layout-map">
  <head>
    <title>Terrabis - Map</title>
         
  </head>
  <body>
  
  
  
  
        <section layout:fragment="content">
        
   
         
         <div class="row" id="mapdiv">
          <div class="col-md-12">
          			<div id="googlemap_container" class="box-shadow-info-lg ml-sm mt-sm" style="width:99.4%; background-color: white;">
               			
               			
    <!--            			<div id="show_searchdiv" class="bg-info" style="position: absolute; top: 10px; right: 10px; z-index: 99;">
               		
               			</div>
               			
               			 -->
               				
               			<!-- ADVERT DIV  -->	
               			<div  th:replace="/fragments/adverts :: video-map-normal-view"></div>
               				
               			
               			<form id="go" role="form" id="go" th:action="@{'/video/search'}" method="GET" th:object="${VIDEOQUERYFRM}">	
               			<div id="mapsearchdiv" th:attr="class=${PERS.searchMapField ? '-' : 'hidden'}" style="position: absolute; top: 65px; left:5%; right:10%; z-index: 98; width:80%;">
               			 
							          <div class="row">
							          <div class="col-md-12 col-sm-12 col-xs-12">
							   								<div id="mapsearchform">
							   								
										                           <div class="form-group">
										                               <div class="input-group">
										                                 <input id="querytxt" placeholder="Find places with videos" type="text" th:field="*{querytxt}" class="form-control input-lg m-b">
										                                 <span class="input-group-btn" id="go">
										                                    <button type="submit" class="btn  btn-info-dark input-lg"><span class="h4 text-bold">FIND VIDEOS!</span></button>
										                                 </span>
										                                </div>
										                           </div>
							   								</div>    		
							    	 </div>
							    	 </div> 
		            			
		            			   
										                             
               			</div>    
               			<div id="mapsearchoptionsdiv" th:attr="class=${PERS.searchMapField ? '-' : 'hidden'}" style="position: absolute; top: 115px; left:5%; right:10%; z-index: 98; width:30%;">
 							<div class="row">
							          <div class="col-md-12 col-sm-12 col-xs-12">							    	 
							    	 
							<div class="form-group">
								<label class="radio-inline text-info h2"></label>
	                    		<label th:attr="class=${PERS.googleMapType=='hybrid' ? 'radio-inline text-gray h4' : 'radio-inline text-info h4'}"><input type="radio" name="querytype" value="MAP" th:checked="${VIDEOQUERYFRM.querytype=='MAP'}">map</label>
								<label th:attr="class=${PERS.googleMapType=='hybrid' ? 'radio-inline text-gray h4' : 'radio-inline text-info h4'}"><input type="radio" name="querytype" value="titledescription" th:checked="${VIDEOQUERYFRM.querytype=='titledescription'}">title/description</label>
								<label th:attr="class=${PERS.googleMapType=='hybrid' ? 'radio-inline text-gray h4' : 'radio-inline text-info h4'}"><input type="radio" name="querytype" value="tags" th:checked="${VIDEOQUERYFRM.querytype=='tags'}">tags</label>
							</div>  
							</div></div>               			
               			</div>
               			 </form>                   				



                   			<div id="clustermapdiv" title="pin groups.turn them on/off for easier navigation" style="position: absolute; top: 10px; right: 10px; z-index: 99; opacity:0.9;">
							          <div class="row">
							    	 <div class="col-md-12  pull-right">
							    	 <span class="cursor-pointer mapbtn-toggle-clustermap">
										 <button type="button" th:attr="class=${PERS.clustererMode ? 'btn btn-info-dark  mapbtn-toggle-clustermap-btn' : 'btn btn-gray mapbtn-toggle-clustermap-btn'}"><span class="fa-2x"><span class="fa fa-circle-o"></span></span></button>
									</span> 
							    	 </div>
							    	 </div> 
		            			
               				</div>


                   			<div id="showsearchdiv" title="search for location, title or description, tags" style="position: absolute; top: 65px; right: 10px; z-index: 99; opacity:0.9;">
							          <div class="row">
							    	 <div class="col-md-12  pull-right">
							    	 <span class="cursor-pointer mapbtn-toggle-searchform">
										 <button type="button" th:attr="class=${PERS.searchMapField ? 'btn btn-info-dark btn-pill-left mapbtn-toggle-searchform-btn' : 'btn btn-gray btn-pill-left mapbtn-toggle-searchform-btn'}"><span class="fa-2x"><span class="fa fa-search"></span></span></button>
									</span> 
							    	 </div>
							    	 </div> 
		            			
               			</div>
               			

                   			<div id="maptypediv"  title="turn roadmap view on/off" style="position: absolute; top: 120px; right: 10px; z-index: 99; opacity:0.9;">
							          <div class="row">
							    	 <div class="col-md-12  pull-right">
							    	 <span class="cursor-pointer mapbtn-toggle-maptypeform">
										 <button type="button" th:attr="class=${PERS.googleMapType=='hybrid' ? 'btn btn-info-dark mapbtn-toggle-maptypeform-btn' : 'btn btn-gray mapbtn-toggle-maptypeform-btn'}"><span class="fa fa-road fa-2x"></span></button>
									</span> 
							    	 </div> 
		            			
               			</div> 
               			</div>    
               			
             			<div id="facebooksharediv" title="share map on social media" style="position: absolute; top: 175px; right: 10px; z-index: 99; opacity:0.9;">
							          <div class="row">
							    	 <div class="col-md-12  pull-right">
							    	 <span class="cursor-pointer mapbtn-share-facebook">
										 <button type="button" class="btn btn-fb mapbtn-share-facebook"><!-- <span class="fa fa-2x fa-facebook">&nbsp;</span> --><span class="text-white h4 text-bold">SHARE MAP</span></button>
									</span> 
							    	 </div> 
		            			
               			</div> 
               			</div>   
               			
               			
               			
                   			<div th:if="${userDTO!=null}" id="userpindiv" class="-" style="position: absolute; width:100px; top: 205px; right: 10px; z-index: 99; opacity:0.9;">
                   			  <span style="position:relative; bottom:-25px; left:5px;  height:25px; width:25px; z-index: 999999;" class="fa fa-times text-gray-dark cursor-pointer tag-user-close"></span>
							          <div class="row">
							    	 <div class="col-md-12  pull-right">
  													<div th:replace="/fragments/user-index-detail :: small-avatar(user=${userDTO},fasize='fa-2x')"></div>
			     
					
								
 					
			        													
							    	 </div> 
							    	 
							    	 
		            			
               			</div> 
               			</div>    

               			
               			<div id="selectedtagsdiv" style="position: absolute; bottom: 10px; left: 10px; z-index: 9999;">
	 								<div id="advselectedtags"></div>	
               			</div>
               			
	               		<div class="mapoverlay_paginator" style="opacity:0.9;">
	               		 			<a id="showmapdatadiv" href="#mapdatadiv" class="page-scroll">
 							    	 <span class="">
							    	 	
										 <button type="button" class="btn btn-info-dark"><span class="fa-2x fa fa-th-list"></span>&nbsp;&nbsp;&nbsp;</button><br/>
										 <span class="paginator text-white"></span>
										 
									</span> 
									</a>
	        			</div>    

               			
               			
               			
              			<!-- NOT FOUND   -->	
              			
              			
      			 	
                        <div class="mapoverlay_not_found hidden"  style="position: absolute; top: 145px; left:5%;  z-index: 101; width:100%;">
					                  <div class="row">

					                          <div class="col-md-1 col-xs-11 col-sm-11">
					                            <!-- <span class="fa fa-meh-o fa-12x text-bold text-gray text-left"></span> -->
					                        </div>  
					                        
					                          <div class="col-md-11 col-xs-11 col-sm-11"><br/><br/>
					                            <span class="h2 text-gray text-left"  th:if="${VIDEOQUERYFRM.querytxt.trim().length()>0}">Nothing found. You might try as well another search.</span> <br/>
					                             <span class="h4 text-gray text-left"  th:if="${VIDEOQUERYFRM.querytxt.trim().length()>0}">tip:use the tag cloud on the left to find related videos as well</span>
					                            <span class="h2 text-white text-left"  th:if="${VIDEOQUERYFRM.querytxt.trim().length()==0}">Please enter your search terms and try again.</span>
					                 </div>						
	    							</div>
	    				</div>			
              
            

  
            
            
            
        			
        		<!-- VIDEO PREVIEW  -->	
        		<div id="panelblock" class="panel widget mapoverlay_video_preview hidden bg-gray round-corner-md" style="width:400px; height:450px;">
         							<div class="text-center bg-center" id="subpanelblockA">
                        			<div class="row">
                           				<div class="col-xs-12 col-md-12 col-sm-12">                           				
										<div class="vidoverlay_preview_map">
										<div class="row row-table" th:replace="/fragments/video-grid-view :: video-overlay-preview-map"></div>
										</div>        	
										<img class="vidoverlay_preview_map_img" src="" width="100%" height="260"/> 
                          			 </div>
                           				<div class="col-md-12 col-xs-12 col-sm-12 text-inverse text-sm  mt-lg mb-lg vidoverlay_preview_map_desc" style="height:110px;">           
                           				 
                           				</div>
												
												<div class="col-md-12 col-xs-12 col-sm-12" style="background-color: #1D2C4C; height:30px;">
												
<!-- 																 <div class="pull-left">	
										
										                           <a class="text-white m-sm" title="watched"><span  id="vidcount-play-icon_12" class="text-white fa-2x fa fa-comment-0"></span></a>
										                           	<span   class="mr-lg text-aqua text-sm-sm vidoverlay_preview_map_reviews">15000</span>
										
										
										                           <a class="text-white m-sm" title="watched"><span  id="vidcount-play-icon_12" class="text-white fa-2x fa fa-youtube-play"></span></a>
										                           	<span   class="mr-lg text-aqua text-sm-sm vidoverlay_preview_map_plays">15000</span>
										 
										
										                           <a class="text-white m-sm" title="watched"><span  id="vidcount-like-icon_12" class="fa fa-thumbs-up fa-2x text-white" title="like"></span></a>
										                           	<span  class="mr-lg text-aqua text-sm-sm vidoverlay_preview_map_likes">15000</span>
										
										                           <a class="text-white m-sm" title="watched"><span  id="vidcount-rating-icon_12" class="fa fa-star fa-2x text-white" title="rating"></span></a>
										                           	<span  class="mr-lg text-aqua text-sm-sm vidoverlay_preview_map_rating">3.5</span>
										                           	
										                         </div>  				 -->	
										
										
										      </div>                            				
                           				
                          			 
                        		</div>
                        		
                        		
                     		</div>
		              </div>
<!--         			
        			
               		 <div style="height:99%; width: 99%; background-color:white;" class="box-shadow-info-lg round-corner-md">
               			<div id="googlemap" style="height:100%; width: 100%;" class="round-corner-md"></div>
               		</div>
 -->
               			
               		<div id="googlemap" style="height:100%; width: 100%; background-color: white;"></div>

               		</div> 
   
   		</div>
   		</div>
  





		<div id="mapdatadiv">


		                   		<div id="showmapdiv" style="position:fixed; bottom: 10px; right: 0px; z-index: 99; opacity:0.7;">
							          <div class="row">
							    	 <div class="col-md-12  pull-right">

 									<a href="#headerdiv" id="showmapdiv" class="page-scroll">
 							    	 <span class="cursor-pointer mapbtn-nav-map">
							    	 	
										 <button type="button" title="back to the map" class="btn btn-info"><span class="fa-2x"><span class="fa fa-arrow-up"></span></span></button>
									</span> 
									</a>
							    	 </div>
							    	 </div> 
		            			
               					</div>
               					
               					

		<div class="row">		
		<div class="col-md-12 col-xs-12 col-sm-12" >
		

		
		
		
		       <!-- CONTENT CONTROL BAR AND PAGINATOR  --> 
       <div class="row mt-sm">
       
       						  <div class="col-md-6 col-sm-12">
       						    		           <p class="text-sm-sm text-gray-more pull-left">*click on marker to start play **right click on the map for quick upload </p>
       						  </div>	
				              <div class="col-md-6 col-sm-12">
						              <div class="content-control">
									                    <ul class="control-nav pull-left" th:replace="/fragments/video-grid-control :: gridviewstyle-control"></ul>
									                    <!--pagignator-->
<!-- 									                    <ul class="breadcrumb paginator pull-left"></ul> -->
									                    <!--paginator-->
						               </div><!-- /content-control -->
				              </div>
       </div> 
       <!-- CONTENT CONTROL BAR  -->   
		
		

		<!-- ===================== RESULTS ============================= -->
       <!-- AJAX -->
       <div class="row"><div class="col-md-12 col-xs-12 col-sm-12" id="videoGrid"></div></div>
        
        
        <!-- LOAD DATA  -->
        <div class="row">
        	<div class="col-md-12 col-xs-12 col-sm-12">
        	 <div class="col-md-12 col-xs-12 col-sm-12 load-more-data"></div>
        	</div>
        </div>	

		<!-- LOAD MORE  -->
        <div class="row">
        	<div class="col-md-12 col-xs-12 col-sm-12 text-center">
        	 <span class="h3 text-gray-more text-bold load-more-video paginatorViewport cursor-pointer">
<!--         	 LOAD MORE... -->
        	 </span> 
        	</div>
        </div>	
        
        
        
        </div></div></div>

<script src="../static/vendor/jquery/dist/jquery.js" th:src="@{/vendor/jquery/dist/jquery.js}"></script> 
<!-- <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyBrqn9Rl-MX3yJPDKGXL_Ly7ej6DSC0sRw&libraries=places"></script> -->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyA2NdWUBq9Xd9KdnVKIczih3DalRqmwLlQ&libraries=places"></script>
<script src="../static/js/map-utilities.js"  th:src="@{/js/map-utilities.js}"></script> 
<script src="../static/vendor/markerclusterer/markerclusterer.js" th:src="@{/vendor/markerclusterer/markerclusterer.js}"></script> 
<script src="../static/js/advanced-map-filters.js" th:src="@{/js/advanced-map-filters.js}"> </script> 
<script src="../static/js/video-map-normal-view.js"  th:src="@{/js/video-map-normal-view.js}"></script> 	
<script src="../static/js/personalization.js"  th:src="@{/js/personalization.js}"></script> 
<script src="../static/js/video-grid-html-view.js" th:src="@{/js/video-grid-html-view.js}"> </script> 
<script src="../static/js/grid-view-renderer.js" th:src="@{/js/grid-view-renderer.js}"> </script> 
<script src="../static/vendor/map-icons/dist/js/map-icons.js" th:src="@{/vendor/map-icons/dist/js/map-icons.js}"></script>   
 




<script th:inline="javascript">
/*<![CDATA[*/


$( document ).ready(function() {
	
	
	//VIDEO TYPE COLORS
	terrabisApp.videoTypeColorsList = JSON.parse([[${VIDEOTYPECOLORSLIST.value}]]);
	terrabisApp.pinsClusterColorsList = JSON.parse([[${PINSCLUSTERCOLORSLIST.value}]]);

	
	
	
	
	/**********************  ADVERT HANDLER ********************************/
	var mapAdvertIsShown = [[${PERS.item('ADVERTSHOWN-MAPOVERLAYADVERT')}]];
	
	if(mapAdvertIsShown=='false') {
		//$(".advertoverlay-map").switchClass("hidden", "-", 0, "easeInOutQuad" );
	}
	
	
	/**********************  MAP DIV HANDLER ********************************/
	$('#showmapdiv').hide();
	//RESIZE
 	$(window).resize(function () {
    var h = $(window).height(),
        offsetTop = 120; // Calculate the top offset

    //$('#googlemap').css('height', (h - offsetTop));
    $('#googlemap_container').css('height', (h - offsetTop));

   
	}).resize();

 	$(window).scroll(function() {
 	    if ($(this).scrollTop()>100)
 	     {
 	        $('#showmapdiv').fadeIn();
 	     }
 	    else
 	     {
 	      $('#showmapdiv').fadeOut();
 	     }
 	});
			

	/**********************  QUERYTXT AUTOCOMPLETE  ********************************/
	var input =  document.getElementById('querytxt');
	var autocomplete = new google.maps.places.Autocomplete(input);
  
	
	google.maps.event.addListener(autocomplete, 'place_changed', function() {
    	var place = autocomplete.getPlace();
    	$("#go").submit();
    
    });

	//INIT VARIABLES
	var emptyGmapResult = [[${GMAPRESULT.emptyStatus}]];
	//PAGE SPECIFIC GRID VIEW STYLE
	terrabisApp.gridViewStyle = [[${PERS.item('GRIDSTYLE-'+{execInfo.templateName})}]];

	
	//IF EMPTY SHOW MESSAGE
	if(emptyGmapResult) {
		$(".mapoverlay_not_found").switchClass( "hidden", "-", 0, "easeInOutQuad" );
/* 		$( ".mapoverlay_not_found" ).delay(5000).fadeOut(3000, "linear", function() {
			$(".mapoverlay_not_found").switchClass( "-", "hidden", 0, "easeInOutQuad" );
		  }); */
	}

		
	/**************************INIT MAP *****************************************/
	terrabisApp.minZoomLevel = [[${minzoomlevel}]];
	terrabisApp.viewPortSize = [[${viewportpinssize}]];
	terrabisApp.clusterMap = [[${PERS.clustererMode}]];
	terrabisApp.clusterSize = [[${clusterSize}]];
	terrabisApp.clusterZoomLevel = [[${clusterZoomLevel}]];
	terrabisApp.searchMapField =  [[${PERS.searchMapField}]]; 	
	
	terrabisApp.globalMap = createMapFromGMAPRESULT([[${GMAPRESULT}]],[[${PERS.googleMapType}]],"googlemap");
	
	
	//CREATE A MAP OVERLAY TO GET THE MOUSE MOVEMENT IN ORDER TO PROJECT THE MOUSOVER PREVIEW DIV
	var overlay = new google.maps.OverlayView();
	overlay.draw = function() {};
	overlay.setMap(terrabisApp.globalMap);
	terrabisApp.mapOverlay = overlay;  
	
	
	
	
	
	
	//ADD LISTENERS
	google.maps.event.addListenerOnce(terrabisApp.globalMap, 'bounds_changed', function(){
 	

 		 //INIT MAP
 		 initMapPins();
 		 
 		 
 		 
 		 //CREATE DATA GRID
 		 createDataGrid();

 		 terrabisApp.globalMap.addListener('dragend', globalMapBoundsChanged);
 		terrabisApp.globalMap.addListener('zoom_changed', globalMapBoundsChanged);
 		
		  /* $('.mapoverlay_paginator').css('visibility','visible').hide().fadeIn("slow").removeClass('hidden'); */


 		//CREATE A CIRCLE AROUND THE LOADED VIDEO IF ANY
 		if([[${radiusDTO!=null}]]) {
 		 var radiusDTO = [[${radiusDTO}]];
 			createCirlceAroundPoint( terrabisApp.globalMap,radiusDTO.lat, radiusDTO.lng,10000);	
 		}

		  
	});
	
	
	
	/*************************************TOGGLE SEARCH FIELD************************************/
	$(document).delegate('.mapbtn-toggle-searchform', 'click', function() {
		if(!terrabisApp.searchMapField) {
	
			$("#mapsearchdiv").switchClass("hidden", "-", 0, "easeInOutQuad" );
			$("#mapsearchdiv").fadeIn( "slow", function() {
			  });
			
			$("#mapsearchoptionsdiv").switchClass("hidden", "-", 0, "easeInOutQuad" );

			
			terrabisApp.searchMapField = true;
			updateGoogleMapShowSearchField(true);
			 $(".mapbtn-toggle-searchform-btn").switchClass("btn-gray", "btn-info", 0, "easeInOutQuad" );
			
		}
		else {
			$("#mapsearchdiv").animate({
			      opacity: 'hide', // animate fadeOut
			      width: 'hide'  // animate slideLeft
			    }, 'slow', 'linear', function() {
			     
			    });
			$("#mapsearchdiv").switchClass("-", "hidden", 0, "easeInOutQuad" );
			$("#mapsearchoptionsdiv").switchClass("-", "hidden", 0, "easeInOutQuad" );
			
			terrabisApp.searchMapField = false;
			updateGoogleMapShowSearchField(false);
			 $(".mapbtn-toggle-searchform-btn").switchClass("btn-danger", "btn-gray", 0, "easeInOutQuad" );

		}
	});

	/*************************************TOGGLE SEARCH FIELD************************************/
	$(document).delegate('.mapbtn-toggle-maptypeform', 'click', function() {
		
		if(terrabisApp.googleMapType=='roadmap') {
			terrabisApp.googleMapType=='hybrid';
			terrabisApp.globalMap.setMapTypeId("hybrid");
			 $(".mapbtn-toggle-maptypeform-btn").switchClass("btn-gray", "btn-info", 0, "easeInOutQuad" );
				$( ".radio-inline" ).switchClass("text-info", "text-white", 0, "easeInOutQuad" );
		}
		else {
			terrabisApp.googleMapType=='roadmap';
			terrabisApp.globalMap.setMapTypeId("roadmap");
			 $(".mapbtn-toggle-maptypeform-btn").switchClass("btn-info", "btn-gray", 0, "easeInOutQuad" );
			 $( ".radio-inline" ).switchClass("text-white", "text-info", 0, "easeInOutQuad" );
		}
	});
	


	/*************************************FACEBOOK SHARE LOCATION************************************/
	$(document).delegate('.mapbtn-share-facebook', 'click', function() {
        var serverURI = 'http://www.terrabis.com';
        //var serverURI = 'http://localhost:8080';
        var urlstring = serverURI+buildMapBoundsURI();
        var url = encodeURIComponent(urlstring);
        //console.log(urlstring);
        //window.open(urlstring,"_blank","top=0,right=0,width=750,height=320");
        //window.open( terrabisApp.mapStaticImageURI,"_blank","top=0,right=0,width=750,height=320");
        
        
        window.open("https://www.facebook.com/sharer/sharer.php"+ "?u="+url,"_blank","top=0,right=0,width=750,height=320"); 

        
        
        
 		var callback = function(data, status, xhr) {
		};
		
		var formData = { videoid: 1, socialnetworkid:1};
		restajax(terrabisApp.shareVideoURI,formData,callback);		



         

        return false; 		 
		
		
	});

	
	
	
	/*************************************TOGGLE CLUSTERMAP************************************/
	$(document).delegate('.mapbtn-toggle-clustermap', 'click', function() {
		if(terrabisApp.clusterMap) {
			 clearClusterMapVersion();
			 $(".mapbtn-toggle-clustermap-btn").switchClass("btn-info", "btn-gray", 0, "easeInOutQuad" );
			 updateGoogleMapClusterMode(false);


		}
		else {
			 showClusterMapVersion();
			 $(".mapbtn-toggle-clustermap-btn").switchClass("btn-gray", "btn-info", 0, "easeInOutQuad" );
			 updateGoogleMapClusterMode(true);
		}
	});



	 //ADD MAPTYPE CHANGED LISTENER AND SAVED IT TO PERSONALIZAITON OBJECT
	 google.maps.event.addListener(terrabisApp.globalMap, "maptypeid_changed", function() {
		 updateGoogleMapType();
	});
	
	
	 /**********************  RIIGHT CLICK ON MAP ********************************/
		if(([[${(#authorization.expression('isAuthenticated()'))}]])) { 
	    	google.maps.event.addListener(terrabisApp.globalMap, 'rightclick', createUploadMarkerOnMapRightClick);
		};
		//END QUICK UPLOAD LISTENER

	 
	
	
	

}); 	
		
	
/*]]>*/
</script>   



</section>
      
 
      
  </body>
</html>  
	  