<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- Log message format -->
    <encoder>
<!--       <pattern>%d{HH:mm:ss} - [%thread] - %msg%n</pattern> -->
      <pattern>%msg/%d{yyyy-MM-dd}/%d{HH:mm:ss}%n</pattern>
    </encoder>
  </appender>


  <!-- Ned appender to write to file -->
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <!-- Name of the file where the log messages are written -->
    <file>terrabis.log</file>
    <encoder>
      <pattern>%msg/%d{yyyy-MM-dd}/%d{HH:mm:ss}%n</pattern>
    </encoder>
  </appender>
  <!-- Setting the root level of logging to INFO -->
  <root level="info">
     <appender-ref ref="STDOUT" />
       <appender-ref ref="FILE" />
  </root>

</configuration>