
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

   <!-- MODERNIZR-->
   <script src="../vendor/modernizr/modernizr.js"></script>


    <script src="../static/vendor/modernizr/modernizr.js"
            th:src="@{vendor/modernizr/modernizr.js}"></script>   
            
    <script src="../static/vendor/jquery/dist/jquery.js"
            th:src="@{vendor/jquery/dist/jquery.js}"></script>   
                        

    <script src="../static/vendor/bootstrap/dist/js/bootstrap.js"
            th:src="@{vendor/bootstrap/dist/js/bootstrap.js}"></script>   

    <script src="../static/vendor/parsleyjs/dist/parsley.min.js"
            th:src="@{vendor/parsleyjs/dist/parsley.min.js}"></script>   

   
    <!-- STORAGE API-->
    <script src="../static/vendor/jQuery-Storage-API/jquery.storageapi.js"
            th:src="@{vendor/jQuery-Storage-API/jquery.storageapi.js}"></script>  

    <script src="../static/vendor/jquery.easing/js/jquery.easing.js"
            th:src="@{vendor/jquery.easing/js/jquery.easing.js}"></script>   

    <script src="../static/vendor/animo.js/animo.js"
            th:src="@{vendor/animo.js/animo.js}"></script>   

    <script src="../static/vendor/slimScroll/jquery.slimscroll.min.js"
            th:src="@{vendor/slimScroll/jquery.slimscroll.min.js}"></script>   

    <script src="../static/vendor/screenfull/dist/screenfull.js"
            th:src="@{vendor/screenfull/dist/screenfull.js}"></script>   

       <script src="../static/js/app.js"
            th:src="@{js/app.js}"></script>   
            
            
            
            
            